/* ==========================================================
   JAIWA Team
   Success Page
========================================================== */

.auth-container{

    max-width:450px;

}

.auth-header{

    margin-bottom:34px;

}

.auth-header p{

    margin-top:14px;

    line-height:1.7;

}

.btn-submit{

    margin-top:6px;

}

.auth-footer{

    margin-top:30px;

}

@media(max-width:768px){

    .auth-container{

        padding:34px 24px;

    }

}

@media(max-width:480px){

    .auth-container{

        padding:28px 20px;

    }

}